@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.hr_top_bar {
  background-image: linear-gradient(#f09700, #f04000);
  height: 26vh;
}

.hr_side_bar {
  background-color: #2e2e31;
  width: 20vw;
}

.hr_cmp_name {
  color: black;
  font-family: "Georgia";
  font-size: 34px;
  font-weight: 600;
  padding: 20px 0px 0px 30px;
}

.hr_cmp_detail {
  color: #362d29;
  font-family: "googleapis";
  font-size: 24px;
  font-weight: 600;
  padding-left: 30px;
}

.hr_top_bar_data {
  width: 50vw;
}

.hr_top_bar_quote {
  padding: 20px;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 600;
}

.hr_top_bar_image {
  height: 150px;
  width: 200px;
  border-radius: 25px;
  padding: 20px;
}

.hr_profile {
  width: 70px;
  height: 70px;
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.hr_profile_name {
  color: rgb(218, 209, 209);
  font-family: "Georgia";
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.hr_profile_data {
  text-align: center;
}

ul {
  list-style-type: none;
  color: rgb(230, 200, 200);
  font-family: Georgia, "Times New Roman", Times, serif;
}

i {
  padding-right: 10px;
  padding-bottom: 30px;
  color: rgb(173, 166, 166);
}

.hr_active {
  color: rgb(255, 0, 0);
}

.hr_welcome_msg {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px 0px 0px 20px
}

.hr_main_sec {
  width: 80vw;
}

.hr_ts_date {
  text-align: center;
  font-size: 22px;
  font-family: "Lucida Sans Regular";
}

.hr_ts_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 40px;
}

.hr_ts_head .ts_col {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #d1d0d0;
  text-align: left;
  padding: 10px;
  background-color: rgb(156, 152, 152);
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
  font-family: 'Franklin Gothic Medium';
}

.hr_emp_ts_button {
    width: 60px;
    height: 35px;
    background-color: black;
    color: white;
    border-width: 0cm;
    border-radius: 10px;
    margin:10px 0px 10px 20px;
    font-family: Georgia;

}

.hr_emp_button {
  width: 60px;
  height: 40px;
  background-color: black;
  color: white;
  border-width: 0cm;
  border-radius: 10px;
  margin:10px 40px 40px 40px;
  font-family: Georgia;
}

.hr_bottom_bar {
    background-image: linear-gradient(#f19d0a, #d63d05);
    height: 15vh;
}

.hr_bottom_bar_heading {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 40vw;
    padding-top: 10px;
}

.hr_bottom_bar_desc {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40vw;
    padding-bottom: 20px;
}